* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 30px;
  font-family: Arial;
}
body {
  background-color: #000000;
}

.calc {
  width: 400px;
  margin: 100px auto;
}

/* give color and font to div display */
.display {
  color: #ffffff;
  text-align: right;
  font-size: 60px;
  padding: 20px;
}

/* give color to (AC) & (C) & (%) */
.keypad-table tr:first-child .key {
  background-color: #a5a5a5;
}

/* give color to to (AC) & (C) & (%) when active*/
.keypad-table tr:first-child .key:active {
  background-color: #a5a5a590;
}

/* give color to (/) & (*) & (-) & (+) & (=) */
.keypad-table tr td:last-child .key {
  background-color: #ffa45c;
}
/* give color to (/) & (*) & (-) & (+) & (=) when active*/
.keypad-table tr td:last-child .key:active {
  background-color: #ffa45ccc;
}

/* give color and border and ... to key number */
.key {
  width: 90px;
  height: 90px;
  border: 1px solid black;
  text-align: center;
  line-height: 90px;
  border-radius: 90px;
  margin: 5px;
  background-color: #333333;
  color: #ffffff;
  cursor: pointer;
  user-select: none;
}


/* give color and border and ... to key number when actived*/
.key:active {
  background-color: #33333390;
}
